@import '@/styles/_functions.scss';

.root {
  --overview-square-size: 20vw;
  --overview-square-gap: 2vw;

  position: relative;
  width: 100%;
  min-height: calc(100 * var(--vh, 1vh));

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'intro'
    'overviews'
    'two';
  gap: var(--overview-square-gap);

  @include desktop {
    --overview-square-gap: calc(2 * var(--vh, 1vh));

    position: fixed;
    top: 0;
    height: calc(100 * var(--vh, 1vh));

    grid-template-rows: 1fr 50%;
    grid-template-areas:
      'intro'
      'two';
  }
}

.two {
  grid-area: two;

  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--overview-square-gap);

  @include desktop {
    width: auto;
    flex-direction: row;
    overflow: hidden;

    .overviews {
      height: calc(10 * var(--vh, 1vh));
    }
  }
}

.intro {
  grid-area: intro;

  position: relative;
  width: 100%;
  height: calc(
    50 * var(--vh, 1vh) - var(--overview-square-size) / 2 -
      var(--overview-square-gap)
  );
  // just arbitrary values
  min-height: 300px;
  max-height: 600px;
  padding: calc(10 * var(--vh, 1vh)) var(--header-px) 0 var(--header-px);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include desktop {
    height: 100%;
    min-height: unset;
    max-height: unset;
  }

  .info {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.outro {
  @extend .intro;

  gap: var(--overview-square-gap);
  padding-bottom: calc(6 * var(--vh, 1vh));

  @include desktop {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    padding-left: 25vw;
  }

  .overviews {
    padding-left: 0;
    padding-right: 0;

    display: inherit;
  }

  .next {
    @extend .title;

    text-align: right;
  }
}

.title {
  font-weight: 700;
  font-size: large;
}

.meta {
  opacity: 0.7;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.overviews {
  grid-area: overviews;

  @include desktop {
    display: none;
  }

  position: relative;
  width: auto;
  height: var(--overview-square-size);
  padding: 0 var(--header-px);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--overview-square-gap);

  &.reverse {
    justify-content: flex-end;
  }

  .overviewsImgWrapper {
    position: relative;
    height: 100%;
    width: auto;
    aspect-ratio: 1;

    img {
      object-fit: cover;
    }
  }
}

.gallery {
  grid-area: gallery;

  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--overview-square-gap);

  padding: 0 var(--header-px);

  @include desktop {
    width: auto;
    height: 100%;
    flex-direction: row;

    padding-right: 0;
  }

  .galleryImgWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;

    @include desktop {
      width: auto;
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }
}
