@import '@/styles/_functions.scss';

.projects-page {
  & > * {
    // Note: overwrite the max-width from `normalPageRoot`
    max-width: unset !important;
  }

  .project-list {
    .project-list-item:not(:last-child) {
      margin-bottom: var(--overview-square-gap);
    }
  }

  .previewsCol {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: var(--overview-square-gap);
  }

  .previewsImgWrapper {
    position: relative;
    height: 25vw;
    aspect-ratio: 1;

    @include desktop {
      max-height: 250px;
    }

    img {
      object-fit: cover;
    }
  }
}
