@import './_variables.scss';
@import './_functions.scss';
// Note:
// AnimatePresence + usePresence handles the page transition fine
// but Next.js would still unload all css bundled for a page after route changed.
@import './pages/_home.scss';
@import './pages/_projects.scss';
@import './pages/_projects_id.scss';
@import './pages/_error.scss';
// Note: the [slug] page css is not included here because it only has ContentfulRichText that has style,
// where it is imported in _app already, so its style is basically global

:root {
  --sm: 4px;
  --md: 8px;

  --space: var(--sm);

  --header-px: 2vw;
  --header-py: calc(2 * var(--vh, 1vh));
  --header-p: var(--header-py) var(--header-px);
  --header-links-gap: 14px;

  // START: for the home page mainly
  --gap: 2vw;
  --square-size: calc(50vw - var(--gap));

  @include landscape {
    --gap: calc(2 * var(--vh, 1vh));
    --square-size: calc(50 * var(--vh, 1vh) - var(--gap));
  }
  // END: for the home page mainly

  --overview-square-size: 20vw;
  --overview-height: calc(10 * var(--vh, 1vh));
  --overview-square-gap: 2vw;

  @include desktop {
    --overview-square-gap: calc(2 * var(--vh, 1vh));
  }

  --normal-page-top-offset: calc(20 * var(--vh, 1vh) - var(--gap));

  @include desktop {
    --normal-page-top-offset: calc(12 * var(--vh, 1vh) - var(--gap));
  }

  --light: #ffffff;
  --dark: #222222;
}

html {
  scrollbar-width: thin;
  background-color: var(--light);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  min-height: calc(100 * var(--vh, 1vh));
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: var(--header-p);
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;

  a {
    text-decoration: underline;
  }
}

.root {
  position: relative;
  min-height: calc(100 * var(--vh, 1vh));
  font-size: small;

  @include desktop {
    font-size: large;
  }
}

.normalPageRoot {
  position: relative;
  width: 100%;
  min-height: calc(100 * var(--vh, 1vh));
  padding-top: var(--normal-page-top-offset);
  padding: var(--normal-page-top-offset) var(--header-py);

  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    max-width: 700px;
  }
}

.mix-blend-invert {
  color: #ffffff;
  mix-blend-mode: difference;
}

button,
a {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

button,
a {
  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.3 !important;
    text-decoration: none !important;
  }
}
