@import '@/styles/_functions.scss';

.thumbnail {
  position: relative;
  margin-bottom: 2vw;
  overflow: hidden;

  img {
    object-fit: contain;

    height: auto !important;
    width: auto !important;
    filter: grayscale(1);
    transition: all 0.6s;

    @include hover {
      &:hover {
        filter: grayscale(0);
        transform: scale(1.05);
      }
    }
  }
}
