@import '@/styles/_functions.scss';

.header {
  position: fixed;
  padding: var(--header-p);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1000;

  // font-size: medium;

  h1 {
    position: relative;
    display: table-caption;
  }

  .name {
    font-size: large;
    font-weight: 700;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;

    a {
      text-decoration: underline;
    }

    @include desktop {
      flex-direction: row;
    }

    .locales {
      display: flex;
      flex-direction: row;
      gap: 2.5px;
      justify-content: flex-end;
    }
  }
}

.invert {
  @supports (backdrop-filter: invert(1)) {
    & {
      backdrop-filter: invert(1);
      clip-path: var(--clip-path);
    }

    .base {
      color: transparent;
    }
  }
}

.svgMask {
  position: absolute;
}
