@import '@/styles/_functions.scss';

.header {
  position: fixed;
  padding: var(--header-p);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1000;

  h1 {
    position: relative;
    display: table-caption;
  }

  .name {
    font-size: x-large;
    font-weight: 700;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: var(--header-links-gap);
    text-align: right;

    a {
      text-decoration: underline;
    }

    @include desktop {
      flex-direction: row;
    }

    .locales {
      display: flex;
      flex-direction: row;
      gap: 2.5px;
      justify-content: flex-end;
    }
  }
}
