.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100 * var(--vh, 1vh));
  background-color: var(--light);
  z-index: 9999;

  --curtain: 100%;

  clip-path: polygon(
    0 0,
    100% 0,
    100% var(--curtain, 100%),
    0 var(--curtain, 100%)
  );

  display: flex;
  justify-content: center;
  align-items: center;

  .counter {
    position: absolute;
    left: 0;
    bottom: 0;

    .base {
      padding: var(--header-p);
      font-size: 15vw;
      font-family: ui-monospace;
    }
  }

  .progressOverlay {
    background-color: var(--dark);
    width: 100%;
    height: 100%;

    transform: translateY(calc(100% - var(--progress, 0%)));
  }
}
